.register {
    /* Because it would overflow since navbar is 50px */
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(34, 33, 33, 0.5), rgba(34, 33, 33,0.5)),url('../../images/register.jpeg');
    background-size: cover;
    color: #f8eee7;
    font-family: 'Roboto', sans-serif;
}

.registerTitle {
    font-size: 50px;
}

.registerForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.registerForm > label {
    margin: 10px 0;
}

.registerInput {
    padding: 10px;
    background-color: white;
    border: none;
    border-radius: 10px;
}

.registerButton {
    margin-top: 20px;
    cursor: pointer;
    background-color: #CD5360;
    border: none;
    color: aliceblue;
    border-radius: 10px;
    padding: 5px;
}

.registerLoginButton {
    position: absolute;
    top: 60px;
    right: 20px;
    cursor: pointer;
    background-color: #008f95;
    border: none;
    border-radius: 10px;
    padding: 7px;
    color: white;
}

@media only screen and (max-width: 768px) {
    .registerLoginButton {
        top: 170px;
        z-index: 0;
    }
}