.top {
  width: 100%;
  height: 50px;
  background-color: white;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

.topLeft,
.topRight {
  /* 20% left and 20% right */
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topCenter {
  flex: 6;
}

.topIcon {
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.topImg {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}


#facebookIcon {
  color: #385898;
}
#twitterIcon {
  color: #1da1f2;
}
#igIcon {
  color: #8134af;
}
#pintrestIcon {
    color: crimson;
}
#snapIcon {
    color: #ffd801;
}
.topList {
   display: flex;
   justify-content: center;
   margin: 0;
   padding: 0;
   list-style: none;
}

.topListItem {
    margin-right: 20px;
    font-size: 18px;
    font-weight: 300;
}
